body {
    background-color: #223344 ;
    margin: 0;
    font-family: 'comic sans', 'Montserrat';
}

.square {
    width: 30%;
    background: blueviolet;
    padding-bottom: 30% ;
    float: left; 
    margin: 1.66%;
    border-radius: 50%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#konten {
    margin: 20px auto;
    max-width: 600px;
}
h1{
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: white;
    background: burlywood;
    margin: 0;
    padding: 20px 0;
}

#warna {
    font-size: 200%;
    text-transform: uppercase;

}

#hasil {
    display: inline-block;
    width: 10%;

}

#kalys {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.select {
    background: burlywood;
    color: white;
}

button {
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: burlywood;
    letter-spacing: 1px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;

}

button:hover {
    color: white;
    background: burlywood;
}